$primary-color: #39cdcc;
$primary-color-darker: #278f8e;
$text-color: #545f7d;
$active-text-color: #213f7d;

// Font styles
$font-stack: 'Work Sans', sans-serif;


// navigation
$nav-hover-bg: #f3fcfc;